@use "_mixin" as m;
$font-poppins: "Poppins", sans-serif;

body {
    // font-family: $font-poppins;
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 1268px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    &-inner {
        padding: 28px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include m.breakpoint(lg) {
        }
    }
    &-inner > * {
        flex: 1;
    }
    &-items {
        display: none;

        @include m.breakpoint(lg) {
            display: flex;
            justify-content: flex-end;
        }
    }
    &-items > * {
        margin-left: 37px;
    }
}
.button-mobile {
    text-align: right;
    display: inline-block;
    @include m.breakpoint(lg) {
        display: none;
    }
}
.main-menu {
    display: none;
    @include m.breakpoint(lg) {
        display: block;
    }
    &__list {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;

        @include m.breakpoint(lg) {
            display: flex;
        }
    }
    &__item {
    }
    &__link {
        font-size: 18px;
        display: block;
        padding: 10px 35px;
        text-decoration: none;
        color: #000;
    }
    &__link:hover,
    &__link.active {
        background: #000;
        color: #fff;
    }
}

// BANNER
.banner {
    margin-bottom: 17px;
    &__img {
        width: 100%;
        height: 500px;

        object-fit: cover;
    }
}
// SECTION
.section-heading {
    border-bottom: 1px solid #000;
    padding: 17px 0 20px 0;
    margin-bottom: 57px;
    &__title {
        font-size: 40px;
        font-weight: 500;
        margin: 0;
        padding: 0;
    }
}
.news {
    margin-bottom: 95px;
}
.product {
    &-list {
        @include m.grid(1, 30px);
        @include m.breakpoint(sm) {
            @include m.grid(2, 30px);
        }
        @include m.breakpoint(md) {
            @include m.grid(4, 30px);
        }
    }
    &-item {
        position: relative;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    &-item:hover {
        box-shadow:
            0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
    }
    &-image {
        position: relative;
        overflow: hidden;
    }
    &-sale {
        background: #e97171;
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 100%;
        width: 48px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        color: #fff;
    }
    &-new {
        background: #2ec1ac;
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 100%;
        width: 48px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        color: #fff;
    }
    &__thumbnail {
        transform: scale(1);
        transition: all 0.3s ease-in-out;
        width: 100%;
        @include m.breakpoint(md) {
            height: 302px;
        }
        object-fit: cover;
    }
    &-item:hover &__thumbnail {
        transform: scale(1.1);
    }
    &-info {
        padding: 15px;
        background: #f4f5f7;
    }
    &__name {
        font-size: 24px;
        margin: 0;
        padding: 0;
    }
    &__link {
        text-decoration: none;
        color: #3a3a3a;
    }
    &__category {
        color: #898989;
        text-decoration: none;
        display: block;
        margin: 13px 0;
    }
    &-price {
        display: flex;
        justify-content: space-between;
    }
    &-price__old {
        color: #898989;
        text-decoration: line-through;
    }
    &-price__new {
        color: #3a3a3a;
        font-size: 20px;
        font-weight: 600;
    }
    &-item:hover &-actions {
        opacity: 1;
    }
    &-actions {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        opacity: 0;
        transition: 0.3s ease-in-out;
        color: #fff;

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    &-actions > * {
        margin-bottom: 15px;
        cursor: pointer;
    }
    &-actions > button {
        width: 200px;
        height: 30px;
    }
}
.shop {
    margin-top: 60px;
    margin-bottom: 54px;
}
.shops {
    @include m.grid(2, 30px);
}
.post-item {
    @include m.grid(1, 30px);

    @include m.breakpoint(md) {
        @include m.grid(2, 30px);
    }
    align-items: center;
    margin-bottom: 15px;
}
.post {
    &-info {
        border-bottom: 1px solid #000;
        padding-bottom: 41px;
        display: flex;
        flex-flow: column;
    }
    &__title {
        font-size: 20px;
        margin: 0px 0 11px 0;
    }
    &__excerpt {
        line-height: 23px;
        color: #898989;
    }
    &__link {
        color: #3a3a3a;
        text-decoration: none;
    }
    &__readmore {
        align-self: flex-end;
        text-decoration: none;
        color: #3a3a3a;
    }
}
.service-list {
    background: #faf3ea;
    padding: 10% 15px 10% 15px;
    @include m.grid(2, 30px);
    @include m.breakpoint(lg) {
        @include m.grid(4, 30px);
        padding: 107px 10% 93px 10%;
    }
    .service-item {
        display: block;
        text-align: center;
        @include m.breakpoint(sm) {
            display: grid;
            grid-template-columns: 60px auto;
            grid-gap: 10px;
            text-align: left;
        }
    }
    .service__name {
        font-size: 25px;
        color: #242424;
        margin: 0;
    }
    .service__description {
        color: #898989;
        margin-top: 10px;
    }
}

.footer {
    padding: 39px 0;
    &-list {
        @include m.grid(1, 30px);

        @include m.breakpoint(lg) {
            @include m.grid(3, 30px);
        }
    }
    &__address {
        color: #9f9f9f;
    }
    &-nav {
        @include m.grid(2, 30px);
    }
    &__title {
        font-size: 16px;
        color: #9f9f9f;
        font-weight: normal;
        margin-bottom: 59px;
    }
    &-menu-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &-menu-item {
        margin-bottom: 20px;
    }
    &-menu-link {
        text-decoration: none;
        color: #000;
    }
}
.newsletter {
    &__input {
        border: 1px solid transparent;
        border-bottom: 1px solid #000;
        padding: 5px 10px;
        &:focus {
            outline: none;
        }
    }
    &__btn {
        border: 1px solid transparent;
        border-bottom: 1px solid #000;
        padding: 5px 10px;
        background: none;
        cursor: pointer;
    }
}

.section-blog-heading {
    margin-bottom: 66px;
}

// PRODUCT DETAIL
/* Product */
.statusbar {
    height: 100px;
    background-color: #f9f1e7;
    margin-top: 10px;
    margin-bottom: 32px;
    .status {
        display: inline-block;
        padding-left: 34px;
        padding-right: 34px;
        padding-top: 45px;
        a {
            padding: 0 10px;
            text-decoration: none;
            color: #9f9f9f;
        }
    }
}
.product-detail {
    display: flex;
    gap: 82px;
    margin: 0 51px;
    &-image {
        width: 553px;
        display: flex;
        &__thumbnail img {
            display: block;
            width: 80px;
            height: 76px;
            border-radius: 10%;
            margin-bottom: 37px;
        }
        &__main {
            margin-left: 28px;
            img {
                border-radius: 3%;
                width: 423px;
                height: 500px;
            }
        }
    }
    &-info {
        flex: 1;
        margin-bottom: 55px;
        &__top {
            border-bottom: 1px solid #000;
            margin-bottom: 41px;
        }
    }
    &-title {
        @include m.font(42px, 400, 63px, left);
        margin: 0;
    }
    &__price {
        @include m.font(24px, 500, 36px, left);
        color: #9f9f9f;
    }
    &__star {
        color: #ffc700;
        margin: 18px 0;
        i {
            padding: 0 2px;
        }
        .start-review {
            @include m.font(13px, 400, 19.5px, left);
            color: #9f9f9f;
        }
    }
    &__description {
        @include m.font(13px, 400, 19.5px, left);
        color: #000;
        width: 423px;
    }
    &-sizes {
        margin: 20px 0;
        span {
            @include m.font(14px, 400, 21px, left);
            color: #9f9f9f;
        }
        &__item input {
            margin-top: 10px;
            width: 30px;
            height: 30px;
            text-align: center;
            border-radius: 13%;
            border: none;
            background-color: #f9f1e7;
            margin-right: 10px;
        }
        &__item input:focus {
            background-color: #b88e2f;
            color: #fff;
            border: none;
        }
    }
    &-colors {
        margin-bottom: 35px;
        &__item input {
            margin-top: 10px;
            width: 30px;
            margin-right: 10px;
            height: 30px;
            border-radius: 50%;
            border: none;
        }
    }
    &-submit {
        display: flex;
        gap: 18px;
        margin-bottom: 60px;
        .quantity {
            border: 1px solid #000;
            width: 123px;
            line-height: 64px;
            border-radius: 10px;
            height: 64px;
            display: flex;
            justify-content: space-evenly;
            .decrease,
            .increase {
                border: none;
                cursor: pointer;
                background-color: #fff;
                padding: 0;
            }
            /* Input số lượng */
            .quantity-input {
                text-align: center;
                border: none;
                width: 46px;
            }
        }
        .btn-add,
        .btn-compare {
            height: 64px;
            width: 215px;
            border-radius: 10px;
            cursor: pointer;
            background-color: #fff;
        }
        .btn-add:hover,
        .btn-compare:hover {
            color: #fff;
            background-color: #b88e2f;
            border: none;
        }
    }
}
.product-detail-info__bottom {
    .bottom-item span {
        @include m.font(16px, 400, 24px, left);
        color: #9f9f9f;
        padding: 5px 5px;
        i {
            color: #000;
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
    }
    .bottom-item__left {
        display: inline-block;
        width: 74px;
    }
}
.descriptionAll {
    border-top: 1px solid #d9d9d9;
    padding-top: 29px;
    border-bottom: 1px solid #d9d9d9;
    .dsc {
        &-titile {
            text-align: center;
            h2 {
                display: inline-block;
                @include m.font(24px, 500, 36px, null);
                padding: 0 22px;
                color: #9f9f9f;
            }
        }
        &-text {
            width: 1026px;
            height: 174px;
            margin: 0 auto;
            p {
                @include m.font(16px, 400, 24px, null);
                color: #9f9f9f;
            }
        }
        &-image {
            @include m.grid(2, 10px);
            margin-top: 36px;
            margin-bottom: 65px;
            img {
                width: 605px;
                height: 348px;
                border-radius: 10px;
            }
        }
    }
}
.relatedProducts {
    padding-top: 26px;
    text-align: center;
    h2 {
        @include m.font(36px, 500, 54px, null);
    }
}
.relatedProducts > button {
    width: 245px;
    height: 48px;
    border: 1px solid #b88e2f;
    @include m.font(16px, 600, 24px, null);
    background-color: #fff;
    color: #b88e2f;
    margin-top: 44px;
    margin-bottom: 92px;
}
.relatedProducts > button:hover {
    background-color: #b88e2f;
    color: #fff;
}
